main, .contenaire{   
  display: flex;
  align-items: center;
  text-align:center;
  padding:0;
  margin:0;
  height:100vh;
  width:100%;
  
  font-size:2vh;
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
}

.cadre{
  background: #FFF7EA;
  box-shadow: 0px 3.30351px 11.5623px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0px 0px / 25px 25px 0px 0px;
  transform: rotate(0.16deg);
  width:100%;
}

.logo{
  height:15vh;
  color: rgb(180, 180, 210);
  margin-top:4vh;
}

h1{
  font-weight: bold;
  line-height: 99.5%;
  text-align: center;
  color: #016590;
  font-family: 'Comfortaa', sans-serif;
}

h2{
  padding-top:5vh;
  font-weight: bold;
  font-size: 5vh;
  line-height: 121%;

  text-align: center;
  color: #F7A600;
  font-family: 'Comfortaa', sans-serif;
}

p{
  font-weight: normal;
  font-size: 3vh;
  line-height: 121%;

  text-align: center;
  color: #016590;
}

.lien2{
  position: absolute;
  width: auto;
  height: 5vh;
  right:10%;
  top:90vh;

  font-weight: 500;
  font-size: 3vh;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #FFF7EA;
  text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.56), 0px 1px 14px rgba(0, 0, 0, 0.49);
}

.lien2:hover{
  color: #FFF7EA;

}

.btn1{
  background: #006281;
  border: 0.800337px solid #006281;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;   
  color:white;

  height: auto;
  font-size:2vh;
  padding:15px;  
  margin-top:4vh;
  text-decoration:none; 
  font-family: 'Comfortaa', sans-serif;
}
 
.btn2 {     
  background: #FFF7EA;
  border: 1px solid #FFF7EA;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;

  font-size:2vh;
  margin-top:5vh;
  padding:15px; 
  text-decoration:none;
  color:#016590;
  border: 0.800337px solid #016590;
  font-family: 'Comfortaa', sans-serif;
}

.btn1:hover{
  background: #003D50;
  color:#FFF7EA;
}

.btn2:hover{
  background: #feebc0;
  color:#003D50;
}
.margeRouterLink{
  margin-top:5vh;
}



/* formulaire */
form{
  margin-top:5vh;
}

input {
  font-weight: normal;
  line-height: 12px;
  color: #016590;
  background: #FFF7EA;
  border: 1px solid #016590;
  box-sizing: border-box;
  border-radius: 5px;

  font-size: 10px;
  padding-left:1vh;
  padding-top:1vh;
}

form div {
  padding-top:2vh;
}

form label {
  font-weight: normal;
  font-size: 1.5vh;
  line-height: 12px;
  color: #016590;
}










