


main, .contenaire{ 
   
  display: flex;
  align-items: center;
  text-align:center;
  padding:0;
  margin:0;
  height:100vh;
  width:100%;
}


.cadre{
  background: #FFF7EA;
  box-shadow: 0px 3.30351px 11.5623px rgba(0, 0, 0, 0.25);
  border-radius: 33.0351px;
  transform: rotate(0.16deg);
  clip-path: polygon(100% 0, 100% 86%, 100% 89%, 63% 91%, 41% 93%, 21% 95%, 0 100%, 0 0);

  height:40vh;

}

.logo{
  width: 10vh;
  height:10vh;
  color: rgb(180, 180, 210);
}





.btn1{
  width: 256px;
  height: 52.6px;
  
  top: 343px;
  
  background: #006281;
  border: 0.800337px solid #006281;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;     
}
  

.btn2 {   
  width: 256px;
  height: 52.6px;
  top: 60vh;
   
  background: #FFF7EA;
  border: 1px solid #FFF7EA;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;
}


















  .btn1 router-link{
    width: 178.85px;
    height: 18.41px;

    top: 50vh;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 14.4061px;
    line-height: 121%;


    text-align: center;
    color: #FFF7EA;
    border: 0.2px solid #FFF7EA;
}

  
  .btn2 router-link{
  
      width: 178.85px;
      height: 18.41px;
    
      top: 60vh;
  
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 14.4061px;
      line-height: 121%;
  
      /* or 17px */
      text-align: center;
      color: #016590;
      border: 0.2px solid #016590;
  }
  