


main, .contenaire{ 
   
  display: flex;
  align-items: center;
  text-align:center;
  padding:0;
  margin:0;
  height:100vh;
  width:100%;
  font-size:2vh;
}


.cadre{
  background: #FFF7EA;
  box-shadow: 0px 3.30351px 11.5623px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0px 0px / 25px 25px 0px 0px;
  transform: rotate(0.16deg);
  width:100%;
}


.logo{
  width: 20vh;
  height:20vh;
  color: rgb(180, 180, 210);
}

h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  line-height: 121%;

  text-align: center;
  color: #F7A600;
  
}


p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 121%;

  text-align: center;
  color: #016590;
}

.btn1{
  height: auto;
  font-size:2.5vh;
  padding:10px;  
  
   
  background: #006281;
  border: 0.800337px solid #006281;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;   
  color:white;
}
 

   

.btn2 {   
  height: auto;
  font-size:2.5vh;
  padding:10px;  

   
  background: #FFF7EA;
  border: 1px solid #FFF7EA;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5.60236px;
}








h1{

  height: auto;
  width:80%; 
  padding-top:4vh;
  padding-bottom:4vh;


/*  ++ */
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: 99.5%;
  text-align: center;
  color: #016590;
}


.lien1{
  height: auto;
  width:80%;
  padding-top:3vh;

/*  ++ */
  color: white;
  font-size: 3vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;  
}


.lien2{
  position: absolute;
  width: auto;
  height: 5vh;
  right:10%;
  top:90vh;

/*  ++ */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #FFF7EA;
  text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.56), 0px 1px 14px rgba(0, 0, 0, 0.49);
}





input {
  font-size: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  color: #016590;
  background: #FFF7EA;
  border: 1px solid #016590;
  box-sizing: border-box;
  border-radius: 5px;

  padding-left:1vh;
  padding-top:1vh;
  
}

form div {
  padding-top:2vh;
}

form label {

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vh;
  line-height: 12px;

  color: #016590;


}











